<!-- <!DOCTYPE html>
<html lang="en"> -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamers</title>
</head>
<body>
    <H3>Guess the game from the image</H3>
    <img src="https://staticr1.blastingcdn.com/media/photogallery/2020/3/16/660x290/b_502x220x75/call-of-duty-warzone-record-has-been-set-image-source-in-game-screenshot_2419461.jpg" alt="">
    <form action="/question" method="POST">
        <p><input type="text" name = "guess"></p>
        <p><input type="submit" value="submit"></p>
    </form>
</body>
</html>